
@{
    Layout = null;
}

<div class="col-sm-2 clear">
    <nav class="navbar navbar-default clear" role="navigation" style="width:auto;">
        <div class="container clear">
            <div class="navbar-header navbar-small">
                <button type="button" class="navbar-toggle button-collapse" data-toggle="collapse" data-target="#navbar-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> @*button colapse*@
            <div class="collapse navbar-collapse clear" id="navbar-left">
                <ul class="nav navbar-nav clear ul-small">
                    <li class="@ViewBag.Home"> @Html.ActionLink("Trang chủ", "Index", "Home", new { @area = "Employee" }, null) </li>
                    <li class="@ViewBag.ChangePassword"> @Html.ActionLink("Đổi mật khẩu", "Index", "ChangePassword", new { @area = "" }, null) </li>
                    <li class="@ViewBag.OfferImportWareHouse">@Html.ActionLink("Đề xuất nhập kho", "Index", "OfferImportWareHouse", new { @area = "Employee" }, null)</li>
                    <li class="@ViewBag.ExportWareHouse">@Html.ActionLink("Xuất kho", "Index", "ExportWareHouse", new { @area = "Employee" }, null)</li>
                    <li class="@ViewBag.AddBill">@Html.ActionLink("Thêm hóa đơn", "Index", "AddBill", new { @area = "Employee" }, null)</li>
                    <li class="@ViewBag.AcceptOrder">@Html.ActionLink("Nhận đặt hàng", "Index", "AcceptOrder", new { @area = "Employee" }, null)</li>
                </ul>
            </div> @*navbar*@
        </div>
    </nav>
</div>
