
@{
    Layout = null;
}

<div class="col-sm-2 clear">
    <nav class="navbar navbar-default clear" role="navigation" style="width:auto;">
        <div class="container clear">
            <div class="navbar-header navbar-small">
                <button type="button" class="navbar-toggle button-collapse" data-toggle="collapse" data-target="#navbar-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> @*button colapse*@
            <div class="collapse navbar-collapse clear" id="navbar-left">
                <ul class="nav navbar-nav clear ul-small">
                    <li class="@ViewBag.Home"> @Html.ActionLink("Trang chủ", "Index", "Home", new { @area = "Admin" }, null) </li>
                    <li class="@ViewBag.ChangePassword"> @Html.ActionLink("Đổi mật khẩu", "Index", "ChangePassword", new { @area = "" }, null) </li>
                    <li class="@ViewBag.AcceptImportWareHouse">@Html.ActionLink("Duyệt nhập kho", "Index", "AcceptImportWareHouse", new { @area = "Admin" }, null)</li>
                    <li class="@ViewBag.ProductManager">@Html.ActionLink("Quản lý sản phẩm", "Index", "ProductManager", new { @area = "Admin" }, null)</li>
                    <li class="@ViewBag.EmployeeManager">@Html.ActionLink("Quản lý nhân viên", "Index", "EmployeeManager", new { @area = "Admin" }, null)</li>
                    <li class="@ViewBag.Statistical">@Html.ActionLink("Thống kê", "Index", "Statistical", new { @area = "Admin" }, null)</li>
                </ul>
            </div> @*navbar*@
        </div>
    </nav>
</div>
