
@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-sm-10 clear">
    <div class="content-body" style="height:auto;">
        @RenderPage("~/Views/Shared/_Logout.cshtml")
        <div class="col-sm-12">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h2>Thống kê nhập kho</h2></div>
                    <div class="panel-body">
                        @if (ViewBag.ListProduct != null)
                        {
                            decimal Sum = 0;
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên sản phẩm</th>
                                        <th>NSX</th>
                                        <th>Loại</th>
                                        <th>Giá gốc</th>
                                        <th>Giá bán</th>
                                        <th>Trạng thái</th>
                                        <th>Xem</th>
                                    </tr>
                                </thead>
                                @foreach (var item in ViewBag.ListProduct)
                                {
                                    decimal SumSub = 0;
                                    <tbody>
                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.Name</td>
                                            <td>@item.Producer</td>
                                            <td>@item.ProductType</td>
                                            <td>@string.Format("{0:n0}", item.OriginalPrice) VND</td>
                                            <td>@string.Format("{0:n0}", item.SellPrice) VND</td>
                                            @if (item.statusID == 1)
                                            {
                                                <td style="color: lawngreen;">Đang bán</td>
                                            }
                                            else
                                            {
                                                <td style="color:gray;">Ngừng bán</td>
                                            }
                                            <td>
                                                <a class="btn btn-default" onclick="Show(@item.ID)" id="ShowDetail-@item.ID"><i class="glyphicon glyphicon-eye-open"></i></a>
                                                <a class="btn btn-default" onclick="Hide(@item.ID)" style="display:none;" id="HideDetail-@item.ID"><i class="glyphicon glyphicon-eye-close"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody style="display:none;border: 1px solid #dddddd;" id="ListImportDetail-@item.ID">
                                        <tr>
                                            <td colspan="8">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Mã phiếu nhập</th>
                                                            <th>Ngày lập</th>
                                                            <th>Số lượng</th>
                                                            <th>Thành tiền</th>
                                                        </tr>
                                                    </thead>
                                                    @foreach (var item1 in ViewBag.ListWareHouseImport)
                                                    {
                                                        if (item.ID == item1.IDProduct)
                                                        {
                                                            <tbody>
                                                                <tr>
                                                                    <td>@item1.IDImport</td>
                                                                    <td>@item1.ModifyDay.ToString("dd/MM/yyyy hh:mm tt")</td>
                                                                    <td>@item1.Quantity</td>
                                                                    <td>@string.Format("{0:n0}", item1.Price) VND</td>
                                                                </tr>
                                                            </tbody>
                                                            SumSub += item1.Price;
                                                        }
                                                    }
                                                    <tbody>
                                                        <tr style="height:5px;"></tr>
                                                        <tr style="border: 1px solid gray;">
                                                            <td colspan="3"><b style="float:right;">Tổng tiền:</b></td>
                                                            <td colspan="2">@string.Format("{0:n0}", SumSub) VND</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                    Sum += SumSub;
                                }
                                <tbody>
                                    <tr style="height:5px;"></tr>
                                    <tr style="border: 1px solid #0094ff;">
                                        <td colspan="5"><b style="float:right;">Tổng tiền nhập kho:</b></td>
                                        <td colspan="3">@string.Format("{0:n0}", Sum) VND</td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="height:20px;"></div>
        <div class="col-sm-12">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h2>Thống kê hóa đơn</h2></div>
                    <div class="panel-body">
                        @if (ViewBag.ListProduct != null)
                        {
                            decimal Sum = 0;
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên sản phẩm</th>
                                        <th>NSX</th>
                                        <th>Loại</th>
                                        <th>Giá gốc</th>
                                        <th>Giá bán</th>
                                        <th>Trạng thái</th>
                                        <th>Xem</th>
                                    </tr>
                                </thead>
                                @foreach (var item in ViewBag.ListProduct)
                                {
                                    decimal SumSub = 0;
                                    <tbody>
                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.Name</td>
                                            <td>@item.Producer</td>
                                            <td>@item.ProductType</td>
                                            <td>@string.Format("{0:n0}", item.OriginalPrice) VND</td>
                                            <td>@string.Format("{0:n0}", item.SellPrice) VND</td>
                                            @if (item.statusID == 1)
                                            {
                                                <td style="color: lawngreen;">Đang bán</td>
                                            }
                                            else
                                            {
                                                <td style="color:gray;">Ngừng bán</td>
                                            }
                                            <td>
                                                <a class="btn btn-default" onclick="Show1(@item.ID)" id="ShowDetail1-@item.ID"><i class="glyphicon glyphicon-eye-open"></i></a>
                                                <a class="btn btn-default" onclick="Hide1(@item.ID)" style="display:none;" id="HideDetail1-@item.ID"><i class="glyphicon glyphicon-eye-close"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody style="display:none;border: 1px solid #dddddd;" id="ListImportDetail1-@item.ID">
                                        <tr>
                                            <td colspan="8">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Mã HD</th>
                                                            <th>Ngày lập</th>
                                                            <th>Nhân viên</th>
                                                            <th>SDT KH</th>
                                                            <th>Mã đặt hàng</th>
                                                            <th>Mã phiếu xuất</th>
                                                            <th>Số lượng</th>
                                                            <th>Thành tiền</th>
                                                        </tr>
                                                    </thead>
                                                    @foreach (var item1 in ViewBag.ListBill)
                                                    {
                                                        if (item.ID == item1.IDProduct)
                                                        {
                                                            <tbody>
                                                                <tr>
                                                                    <td>@item1.IDBill</td>
                                                                    <td>@item1.ModifyDay.ToString("dd/MM/yyyy hh:mm tt")</td>
                                                                    <td>@item1.EmployeeName</td>
                                                                    <td>@item1.CustomerPhone</td>
                                                                    <td>@item1.IDOrder</td>
                                                                    <td>@item1.IDExport</td>
                                                                    <td>@item1.Quantity</td>
                                                                    <td>@string.Format("{0:n0}", item1.Price) VND</td>
                                                                </tr>
                                                            </tbody>
                                                            SumSub += item1.Price;
                                                        }
                                                    }
                                                    <tbody>
                                                        <tr style="height:5px;"></tr>
                                                        <tr style="border: 1px solid gray;">
                                                            <td colspan="5"><b style="float:right;">Tổng tiền:</b></td>
                                                            <td colspan="3">@string.Format("{0:n0}", SumSub) VND</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                    Sum += SumSub;
                                }
                                <tbody>
                                    <tr style="height:5px;"></tr>
                                    <tr style="border: 1px solid #0094ff;">
                                        <td colspan="5"><b style="float:right;">Tổng tiền bán:</b></td>
                                        <td colspan="3">@string.Format("{0:n0}", Sum) VND</td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="height:30px;"></div>
    </div>
</div>
<script>
    var Show = function (ID) {
        var GetID = "#ListImportDetail-" + ID;
        var GetIDShow = "#ShowDetail-" + ID;
        var GetIDHide = "#HideDetail-" + ID;
        $(GetID).show();
        $(GetIDShow).hide();
        $(GetIDHide).show();
    }
    var Hide = function (ID) {
        var GetID = "#ListImportDetail-" + ID;
        var GetIDShow = "#ShowDetail-" + ID;
        var GetIDHide = "#HideDetail-" + ID;
        $(GetID).hide();
        $(GetIDShow).show();
        $(GetIDHide).hide();
    }
    var Show1 = function (ID) {
        var GetID = "#ListImportDetail1-" + ID;
        var GetIDShow = "#ShowDetail1-" + ID;
        var GetIDHide = "#HideDetail1-" + ID;
        $(GetID).show();
        $(GetIDShow).hide();
        $(GetIDHide).show();
    }
    var Hide1 = function (ID) {
        var GetID = "#ListImportDetail1-" + ID;
        var GetIDShow = "#ShowDetail1-" + ID;
        var GetIDHide = "#HideDetail1-" + ID;
        $(GetID).hide();
        $(GetIDShow).show();
        $(GetIDHide).hide();
    }
</script>

